@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApps.Areas.Todo.ViewModels.TaskItemDetailViewModel

<h1>Task Items</h1>

<hr />

<a class="btn btn-primary" data-toggle="collapse" href="#formCreate" role="button">
    <i class="fas fa-plus"></i> Create Task
</a>

<form asp-action="Create">
    <div class="form-row collapse pt-2" id="formCreate">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TaskItem.TaskDescription">Task Description</label>
            <input type="text" class="form-control" asp-for="@Model.TaskItem.TaskDescription">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.TaskItem.DueDate">Due Date</label>
            <input type="date" class="form-control" asp-for="@Model.TaskItem.DueDate">
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </div>
</form>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Is Complete?</th>
            <th scope="col">Task Description</th>
            <th scope="col">Required By Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TaskItems)
        {
            <tr>
                <td><input class="form-check-inline" type="checkbox" checked="@item.IsComplete" id="taskCheckBox" onclick="window.location.href = '/ToDo/Home/ToggleIsDone/@item.TaskId';"/></td>
                <td>@item.TaskDescription</td>
                <td>@item.DueDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>